<div navbar></div>

<div class="row cluster-tab">
  <div class="col-sm-9 col-md-12 main">
    <h1 class="page-header">{{ 'Cluster' | trans }}</h1>

    <div class="row placeholders">
    </div>
	</div>
</div>