<div navbar></div>

<div class="row home-tab">
  <div class="col-sm-9 col-md-12 main">
    <h1 class="page-header">{{ 'Dashboard' | trans }}</h1>

    <div class="row placeholders">

      <div class="col-md-6">
        <div class="row">

          <div class="col-md-12 opa-item" ng-repeat="process in home.processes">
            <div>
              <span class="pull-left">{{ process.name }}</span>

              <a
                class="btn btn-default btn-xs pull-right ng-class:{'disabled': process.status == 0}"
                ng-click="stopProcess(process)"
                >
                <i class="fa fa-stop"></i>
              </a>

              <a
                class="btn btn-default btn-xs pull-right ng-class:{'disabled': process.status == 0 || process.status == 2}"
                ng-click="pauseProcess(process)"
                >
                <i class="fa fa-pause"></i>
              </a>

              <a
                class="btn btn-default btn-xs pull-right ng-class:{'disabled': process.status == 1}"
                ng-click="playProcess(process)"
                >
                <i class="fa fa-play"></i>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="row">

          <div class="col-md-12 opa-item">
            <div>
              <span class="opa-item-description pull-left">
                <i class="fa fa-signal"></i>
                {{ 'CPU Usage' | trans }}
              </span>

              <progressbar value="home.info.cpu.usage_percent">
                <span class="progress-value">
                  {{ home.info.cpu.usage_value }}
                </span>
              </progressbar>
            </div>
          </div>

          <div class="col-md-12 opa-item">
            <div>
              <span class="opa-item-description pull-left">
                <i class="fa fa-hdd-o"></i>
                {{ 'HDD Usage' | trans }}
              </span>

              <progressbar value="home.info.hdd.usage_percent">
                <span class="progress-value">
                  {{ home.info.hdd.usage_value }}
                </span>
              </progressbar>
            </div>
          </div>

          <div class="col-md-12 opa-item">
            <div>
              <span class="opa-item-description pull-left">
                <i class="fa fa-tasks"></i>
                {{ 'Memory usage' | trans }}
              </span>

              <progressbar value="home.info.memory.usage_percent">
                <span class="progress-value">
                  {{ home.info.memory.usage_value }}
                </span>
              </progressbar>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--       <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 opa-item">
            <div>
              Any additional info
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>