<form name="loginForm" class="form-signin" role="form" ng-submit="signIn();">
  <h2 class="form-signin-heading">{{ 'Please sign in' | trans }}</h2>
  <input type="email" name="email" ng-model="login.email" class="form-control" placeholder="{{ 'Email address' | trans }}" required autofocus/>

  <div ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
    <small class="text-danger" ng-show="loginForm.email.$error.required">
      {{ 'Your email is required.' | trans }}
    </small>
    <small class="text-danger" ng-show="loginForm.email.$invalid">
      {{ 'Your email is invalid' | trans }}
    </small>
  </div>

  <input type="password" name="password" ng-model="login.password" class="form-control" placeholder="{{ 'Password' | trans }}" ng-minlength="4" required/>

  <div ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
    <small class="text-danger" ng-show="loginForm.password.$error.required">
      {{ 'Your password is required.' | trans }}
    </small>
    <small class="text-danger" ng-show="loginForm.password.$error.minlength">
      {{ 'Your password is required to be at least 4 characters' | trans }}
    </small>
  </div>

  <label class="checkbox">
    <input type="checkbox" name="remember_me" ng-model="login.rememberMe" value="remember-me"> {{ 'Remember me' | trans }}
  </label>
  <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg btn-primary btn-block">{{ 'Sign in' | trans }}</button>
</form>