<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ 'OwnCloud Admin Panel' | trans }}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="home" ui-sref-active="active">
          <a ui-sref="home">
            <i class="fa fa-home"></i>
            {{ 'Home' | trans }}
          </a>
        </li>
        <li class="recovery" ui-sref-active="active">
          <a ui-sref="recovery">
            <i class="fa fa-refresh"></i>
            {{ 'Recovery' | trans }}
          </a>
        </li>
        <li class="settings" ui-sref-active="active">
          <a ui-sref="settings">
            <i class="fa fa-cogs"></i>
            {{ 'Settings' | trans }}
          </a>
        </li>
        <li class="cluster" ui-sref-active="active">
          <a ui-sref="cluster">
            <i class="fa fa-sitemap"></i>
            {{ 'Cluster' | trans }}
          </a>
        </li>
      </ul>


      <ul class="nav navbar-nav">
        <li>
          <a href="#" ng-show="loading">
            <i class="fa fa-cog fa-spin"></i>
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>