<div navbar></div>

<div class="row recovery-tab">
  <div class="col-sm-9 col-md-12 main">
    <h1 class="page-header">{{ 'Checkpoints' | trans }}</h1>

    <div class="row placeholders">

      <input type="search" class="form-control" ng-model="recovery.search.$" ng-change="update(recovery.search.$);">
      <br/>

      <div class="table-responsive">
        <table class="table table-checkpoints">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ 'Name' | trans }}</th>
              <th>{{ 'Comment' | trans }}</th>
              <th>{{ 'Date' | trans }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr 
              ng-repeat="checkpoint in recovery.filtered = (recovery.checkpoints.all | orderBy:'date':true | filter:recovery.search) | startFrom:(recovery.pagination.currentPage - 1) * recovery.pagination.itemsPerPage | limitTo:recovery.pagination.itemsPerPage track by $index" 
              ng-class="{'success': checkpoint == recovery.checkpoints.current}">
              <td>{{ checkpoint.number }}</td>
              <td>{{ checkpoint.name }}</td>
              <td>{{ checkpoint.comment }}</td>
              <td>{{ checkpoint.date | date }}</td>
              <td>
                <a class="btn btn-default btn-xs"
                  tooltip-placement="left"
                  tooltip-html-unsafe="{{ 'Edit' | trans }}"
                  ng-click="editCheckpoint(checkpoint)"
                  >
                  <i class="fa fa-pencil"></i>
                </a>

                <a class="btn btn-default btn-xs"
                  ng-hide="checkpoint == recovery.checkpoints.current"
                  tooltip-placement="right"
                  tooltip-html-unsafe="{{ 'Restore' | trans }}"
                  ng-click="restoreCheckpoint(checkpoint)"
                  >
                  <i class="fa fa-exchange"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pagination
        total-items="recovery.pagination.totalItems"
        ng-model="recovery.pagination.currentPage"
        items-per-page="recovery.pagination.itemsPerPage"
        max-size="recovery.pagination.maxSize"
        class="pagination-sm"
        boundary-links="true"
        previous-text="{{ 'Previous' | trans }}"
        next-text="{{ 'Next' | trans }}"
        first-text="{{ 'First' | trans }}"
        last-text="{{ 'Last' | trans }}"
        >
      </pagination>

      <form name="checkpointForm" ng-show="recovery.checkpointEditing" novalidate ng-submit="saveCheckpoint(recovery.checkpointEditing, recovery.form.checkpointName, recovery.form.checkpointComment);">
        <div class="form-group ng-class:{'has-error': checkpointForm.checkpointName.$invalid}">
          <label>{{ 'Checkpoint name' | trans }}</label>
          <input type="text" name="checkpointName" ng-model="recovery.form.checkpointName" class="form-control" required />
        </div>

        <div class="form-group">
          <label>{{ 'Checkpoint comment' | trans }}</label>
          <textarea class="form-control" name="checkpointComment" ng-model="recovery.form.checkpointComment" rows="6"></textarea>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-success" ng-disabled="checkpointForm.checkpointName.$invalid" ng-value="'Save' | trans"/>
          <input type="button" class="btn btn-danger" ng-click="closeEditing();" ng-value="'Close' | trans" />
        </div>
      </form>
    </div>
  </div>
</div>