<h1 class="page-header">{{ 'Updates' | trans }}</h1>

<div class="row placeholders">
  <div class="col-md-12">
  	<form role="form">
      <div class="form-group">
        <label>{{ 'Main repository' | trans }}</label>
        <input type="url" ng-model="settings.updates.mainRepository" class="form-control" />
      </div>

      <hr />

      <div class="form-group">
        <label>{{ 'Automatically check for updates' | trans }}</label>
        <select ng-model="settings.updates.periods.current" ng-options="period.name | trans for period in settings.updates.periods.all" class="form-control"></select>
      </div>
    </form>
  </div>
</div>