<div navbar></div>

<div class="row settings-tab">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li ui-sref-active="active"><a ui-sref=".common">{{ 'Common' | trans }}</a></li>
      <li ui-sref-active="active"><a ui-sref=".updates">{{ 'Updates' | trans }}</a></li>
      <li ui-sref-active="active"><a ui-sref=".ssh_keys">{{ 'SSH Keys' | trans }}</a></li>
      <li ui-sref-active="active"><a ui-sref=".password">{{ 'New password' | trans }}</a></li>
    </ul>
  </div>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
  </div>
</div>