<h1 class="page-header">{{ 'Common' | trans }}</h1>

<div class="row placeholders">
  <div class="col-md-12">
  	<form role="form">
      <div class="form-group">
        <label>{{ 'Localization' | trans }}</label>
        <select ng-model="settings.common.languages.current" ng-options="key as lang for (key, lang) in settings.common.languages.all" class="form-control"></select>
      </div>

      <hr />

      <div class="checkbox">
        <label doc>
          <input type="checkbox" ng-model="settings.common.ngxPagespeed"> ngx_pagespeed
        </label>
      </div>
    </form>
  </div>
</div>