<h1 class="page-header">{{ 'New password' | trans }}</h1>

<div class="row placeholders">
  <div class="col-md-12">
  	<form role="form" name="form" ng-submit="updatePassword(settings.password.old, settings.password.new, settings.password.confirmation);">
      <div class="form-group ng-class:{'has-error': form.oldPassword.$invalid && form.oldPassword.$dirty}">
        <label>{{ 'Old password' | trans }}</label>
        <input type="password" name="oldPassword" ng-minlength="4" ng-model="settings.password.old" class="form-control" required />
      </div>

      <div class="form-group ng-class:{'has-error': form.newPassword.$invalid && form.newPassword.$dirty}">
        <label>
          {{ 'New password' | trans }}
        </label>
        <input type="password" name="newPassword" ng-minlength="4" ng-model="settings.password.new" class="form-control" required />
      </div>

      <div class="form-group ng-class:{
        'has-error': form.passwordConfirmation.$error.passwordVerify || form.passwordConfirmation.$invalid && form.passwordConfirmation.$dirty,
        'has-success': form.passwordConfirmation.$valid && form.passwordConfirmation.$dirty
        }">
        <label>{{ 'Confirm password' | trans }}</label>
        <input type="password" name="passwordConfirmation" ng-minlength="4" ng-model="settings.password.confirmation" class="form-control" password-verify="settings.password.new" required />
      </div>

      <div class="form-group">
        <input type="submit" ng-value="'Save' | trans" class="btn btn-info" ng-disabled="form.$invalid"/>
      </div>
    </form>
  </div>
</div>