<h1 class="page-header">{{ 'SSH Keys' | trans }}</h1>

<div class="row placeholders">
  <div class="col-md-12">
    <table class="table table-hover table-bordered table-ssh-keys">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'Label' | trans }}</th>
          <th>{{ 'Added' | trans }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="SSHKey in settings.ssh.keys track by $index">
          <td>{{ $index + 1 }}</td>
          <td>{{ SSHKey.label }}</td>
          <td>{{ SSHKey.added | date }}</td>
          <td>
            <a class="btn btn-success btn-xs" ng-click="edit(SSHKey);" tooltip-placement="left" tooltip-html-unsafe="{{ 'Edit' | trans }}">
              <i class="fa fa-pencil"></i>
            </a>
            <a class="btn btn-danger btn-xs" ng-click="remove(SSHKey);" tooltip-placement="right" tooltip-html-unsafe="{{ 'Remove' | trans }}">
              <i class="fa fa-times"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <a class="btn btn-default" ng-click="create();">
      <i class="fa fa-plus" ng-show="!settings.ssh.addition"></i>
      <i class="fa fa-minus" ng-show="settings.ssh.addition"></i>
      <span>{{ 'Add' | trans }}</span>
    </a>

    <hr/>

    <form role="form" name="form" ng-submit="save()" ng-show="settings.ssh.addition">
      <div class="form-group">
        <label>{{ 'SSH Key label' | trans }}</label>
        <input type="text" name="label" class="form-control" ng-model="settings.ssh.currentKey.label"/>
      </div>

      <div class="form-group ng-class:{'has-error': form.key.$invalid && form.key.$dirty}">
        <label>{{ 'SSH Key' | trans }}</label>
        <textarea class="form-control" name="key" ng-model="settings.ssh.currentKey.key" rows="6" required></textarea>
      </div>

      <hr />

      <div class="form-group">
        <button class="btn btn-success" ng-disabled="form.$invalid" ng-show="settings.ssh.currentKey">
          <i class="fa fa-floppy-o"></i>
          <span>{{ 'Save' | trans }}</span>
        </button>

        <a ng-click="cancelEditing();" class="btn btn-danger" ng-show="settings.ssh.currentKey">
          <i class="fa fa-times"></i>
          <span>{{ 'Cancel' | trans }}</span>
        </a>
      </div>
  	</form>
  </div>
</div>