.home-tab .opa-item > div {
	background-color: #ffffff;
	box-shadow: 0px 0px 5px gray;
	border-radius: 2px;
	display: inline-block;
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
}

.opa-item-description {
	margin-right: 10px;
}

.progress {
	margin: 0;
}

.progress-value {
	color: black;
	white-space: nowrap;
}