.table-ssh-keys {
	background-color: #ffffff;
}

.table-ssh-keys th:first-child,
.table-ssh-keys td:first-child,
.table-ssh-keys td:last-child {
	text-align: center;
}

.table-ssh-keys td {
  max-width: 200px;
  word-wrap: break-word;
}